.clickable-card {
	border: none;
	border-radius: 4px;
	box-shadow: 0 3px 4px #E8DDB5;
	cursor: pointer;
	height: 50%;
	margin: 0.83%;
	max-height: 240px;
	max-width: 175px;
	min-height: 130px;
	padding: 0;
	width: 30%;
}
