.hand {
	display: flex;
	flex-wrap: wrap;
	height: 50%;
	justify-content: center;
	width: 100%;
}

	.hand-button {
		background-color: #875053;
		box-shadow: 0 2px 2px #AAA;
		border-radius: 4px;
		color: #FFF6E2;
		font-size: 1rem;
		height: 40px;
		cursor: pointer;
		width: 100px;
	}
