/* reset */
p {
	margin: 0;
	padding: 0;
}

html, body {
	background-color: #FFF1D0;
	font-weight: lighter;
	height: 100%;
	width: 100%;
}

body {
	font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 0;
}

button {
	border: none;
}

.root {
	height: 100%;
	width: 100%;
}
